<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<title>无标题文档</title>
<style>
    *{ margin:0; padding:0;}
    body{
        padding-top: 20px;
    }
    .user{
        display: block;
        width: 200px;
        margin: auto; margin-bottom: 100px;
    }
</style>
<link rel="stylesheet" href="style/datalist.css" />
</head>

<body>
    <input type="text" list="email" class="user" ng-model="email" nextfocus="test" placeholder="请输入账号或邮箱">

    <div id="email" datalist>
            <div option value="{{email|emailFilter}}@sina.com"></div>
            <div option value="{{email|emailFilter}}@163.com"></div>
            <div option value="{{email|emailFilter}}@qq.com"></div>
            <div option value="{{email|emailFilter}}@126.com"></div>
            <div option value="{{email|emailFilter}}@vip.sina.com"></div>
            <div option value="{{email|emailFilter}}@sina.cn"></div>
            <div option value="{{email|emailFilter}}@hotmail.com"></div>
            <div option value="{{email|emailFilter}}@gmail.com"></div>
            <div option value="{{email|emailFilter}}@sohu.com"></div>
            <div option value="{{email|emailFilter}}@yahoo.cn"></div>
            <div option value="{{email|emailFilter}}@139.com"></div>
            <div option value="{{email|emailFilter}}@wo.com.cn"></div>
            <div option value="{{email|emailFilter}}@189.cn"></div>
    </div>

    <input type="text" id="test" list="search" class="user" ng-model="language" placeholder="请输入账号或邮箱">
    <div id="search" datalist>
            <div option value="js"></div>
            <div option value="php"></div>
            <div option value="java"></div>
            <div option value="object-c"></div>
    </div>
    <p>    {{email}}</p>
    <p style="padding-left: 10px">{{language}}</p>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-email-suggest.js"></script>
    <script>
        angular.module('app', ['datalist']);

        angular.bootstrap(document.body, ['app']);
    </script>
</body>
</html>
